.rock_club_track_main {
  position: relative;
}

.rock_club_track_main.rock_club_track01 {
  margin-top: 50px;
}

.rock_club_track {
  position: absolute;
  top: 50%;
  left: 0px;
  background: #0d0d0d;
  width: 100%;
}

.rock_club_track_div .col-lg-8 {
  background: #080808;
  padding-top: 30px;
  padding-bottom: 20px;
}

.rock_club_track_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .rock_club_track_div {
    display: block;
  }
}
