.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 992px) {
  .site-content .noo-header {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .site-content .noo-topbar {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .site-content .noo-topbar .noo-social a i {
    color: rgba(255, 255, 255, 0.2);
  }
  .site-content .noo-topbar .noo-social a i:hover {
    color: #ffffff;
  }
  .site-content .navbar:not(.navbar-fixed-top) {
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-nav > li > a {
    color: #ffffff;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-nav > li > a:hover {
    color: #ffffff;
  }
  .site-content .navbar:not(.navbar-fixed-top) .member-search form {
    color: #fff;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-right {
    border-left: 2px solid rgba(45, 50, 53, 0.2);
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-right .member-links a {
    color: #ffffff;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-right .member-links a:hover {
    color: #d91f26;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-brand .noo-logo-normal {
    display: none;
  }
  .site-content .navbar:not(.navbar-fixed-top) .navbar-brand .noo-logo-floating {
    display: block;
  }
  .site-content .noo-page-heading.noo-page-heading-bg > div:first-child {
    margin-top: 100px;
  }
  .site-content .navbar:not(.navbar-fixed-top) {
    background-color: rgba(0, 0, 0, 0.035);
    border-color: transparent;
    color: #ffffff;
  }
}
@media (min-width: 992px) and (max-width: 768px) {
  .site-content .navbar:not(.navbar-fixed-top) .navbar-nav > li > a {
    color: #ffffff;
    background: #fff;
  }
}

.site-content .noo-page-heading {
  padding: 200px 0 100px 0;
}
@media (max-width: 991px) {
  .site-content .noo-page-heading {
    padding: 50px 0;
  }
}

.theme-light.site-content .noo-menu-item-cart .cart-button .cart-item span {
  color: #ffffff;
}